Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

chore(deps): Update x/net to avoid CVE-2026-27136 (#1041)
  config.yaml
Due: none

Bump gitops operator
  config.yaml
Due: none

Refresh rpm lockfile
  prefetch/rpms/ubi8/rpms.lock.yaml
Due: argo-rollouts-main-on-pull-request

chore(build): bump to v1.19.6-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Fix builds
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Fix build
  .gitmodules
  .tekton/build-multi-platform-image.yaml
  config.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.6-2
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.6-2 (#1043)
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Bump operator
  config.yaml
Due: none

chore(build): bump to v1.20.6-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Resolve rpm_packages.unique_version conforma failure
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argocd-main-on-pull-request

use upstream source and refresh lock file
  .gitmodules
  .tekton/build-multi-platform-image.yaml
  config.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.6-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.6-2 (#1045)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Bump gitops-operator
  config.yaml
Due: none

chore(build): bump to v1.21.2-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.2-2
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.2-2 (#1047)
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Revert configurable dex token renewal change
  config.yaml
Due: none

chore(build): bump to v1.21.2-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Fix formatting in renovate.json for ignored dependencies
  renovate.json
Due: none

Update konflux refs
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

chore(build): bump to v1.21.2-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.2-4
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.2-4 (#1050)
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add GHA job to sync commit
  .github/workflows/update-sources.yaml
  Makefile
  hack/update-sources.sh
Due: none

chore(update-sources): refresh source commits
  config.yaml
Due: none

Sync sources after update
  Makefile
Due: none

Auto sync sources
  .github/workflows/update-sources.yaml
  Makefile
  hack/update-sources.sh
Due: none

Release 1.19.6
  releases/production/1.19.6/release.yaml
Due: none

Correct cve id in 1.19.6 release
  releases/production/1.19.6/release.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.6-2 (#1054)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Release 1.21.2
  releases/1.21.2/production/release.yaml
Due: none

Rebuild 1.20.2 rc to address conforma failures
  releases/1.20.6/production/release.yaml
Due: none

Release 1.20.6
  releases/1.20.6/production/release.yaml
Due: none

update redis image to latest tag
  config.yaml
Due: none
