Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

Update dependency json-merge-patch to v1
  containers/argocd/ui/package.json
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Update dependency minimatch to v10
  containers/argocd/ui/package.json
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Update dependency normalize-url to v9
  containers/argocd/ui/package.json
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Update dependency raw-loader to v4
  containers/argocd/ui/package.json
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Update dependency react-ga to v3
  containers/argocd/ui/package.json
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Update dependency react-hot-loader to v4
  containers/argocd/ui/package.json
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Ignore renovate updates to ui directory
  renovate.json
Due: none

Bump dex
  config.yaml
Due: none

chore(build): bump to v1.21.4-7
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-7
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-7 (#1191)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.20.7-7
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-7
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-7 (#1193)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.19.7-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.7-4
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.7-4 (#1195)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

chore(update-sources): refresh source commits
  config.yaml
Due: none

Update to latest release-4.18 tag, for 1.22
  config.yaml
Due: none

chore(build): bump to v1.19.7-5
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Update to latest release-4.18 tag, for 1.22 (#1201)
  config.yaml
Due: none

chore(build): bump to v1.20.7-8
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-8
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-8 (#1203)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.21.4-8
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-8
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-8 (#1205)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-18
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v99.99.99-18
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysisruns.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_clusteranalysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_experiments.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rolloutmanagers.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rollouts.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-service_v1_service.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
Due: none

chore(bundle): latest bundle updates for v99.99.99-18 (#1207)
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysisruns.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_clusteranalysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_experiments.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rolloutmanagers.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rollouts.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-service_v1_service.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.7-5
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.7-5 (#1211)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.20.7-9
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-9
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-9 (#1213)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none
