Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

gitops-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

rpm-microshift-gitops-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: ociStorage
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/rpm-microshift-gitops-main:on-pr-{{revision}}
  - name: path-context
    value: rpms/microshift-gitops
  - name: package-name
  ...

remove name field
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

fix script
  rpms/microshift-gitops/generate-source-tarball.sh
Due: rpm-microshift-gitops-main-on-pull-request

Try konflux task
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Bump task sha
  .tekton/build-rpm-package.yaml
  rpms/microshift-gitops/generate-source-tarball.sh
Due: rpm-microshift-gitops-main-on-pull-request

Try local pipeline
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Try local pipeline using git resolver
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Revert "fix script"
  rpms/microshift-gitops/generate-source-tarball.sh
Due: rpm-microshift-gitops-main-on-pull-request

Use older commit of upstream pipeline
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

updated rpm-microshift-gitops-main component and GA to regenerate spec file
  .github/workflows/generate-microshft-gitosp-rpm-spec-file.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  config.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: rpm-microshift-gitops-main-on-pull-request

Fix path in script
  rpms/microshift-gitops/generate-source-tarball.sh
Due: rpm-microshift-gitops-main-on-pull-request

Basic git ref
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Use upstream tasks
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  rpms/microshift-gitops/generate-source-tarball.sh
Due: rpm-microshift-gitops-main-on-pull-request

Debug pipelinerun failure
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Older image
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Update script
  rpms/microshift-gitops/generate-source-tarball.sh
Due: rpm-microshift-gitops-main-on-pull-request

debug
  .tekton/build-rpm-package.yaml
Due: none

Use older task sha
  .tekton/build-rpm-package.yaml
Due: none

Revert typo correction
  config.yaml
Due: none

Add todos
  .github/workflows/generate-microshft-gitosp-rpm-spec-file.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
Due: rpm-microshift-gitops-main-on-pull-request

Add gha workflow to auto trigger bundle build
  .github/workflows/auto-trigger-bundle.yaml
  .github/workflows/trigger-component-builds.yaml
Due: none

Rename the workflow
  .github/workflows/auto-trigger-bundle.yaml
Due: none

chore(build): bump to v99.99.99-2
  BUILD
Due: argocd-cli-main-on-push, gitops-main-on-pull-request

Fix workflow error
  .github/workflows/auto-trigger-bundle.yaml
  .github/workflows/trigger-bundle-build.yaml
Due: none

chore(build): bump to v99.99.99-3
  BUILD
Due: argocd-cli-main-on-push, gitops-main-on-pull-request

Fix permissions
  .github/workflows/auto-trigger-bundle.yaml
Due: none

chore(build): bump to v99.99.99-4
  BUILD
Due: argocd-cli-main-on-push, gitops-main-on-pull-request

Drop keycloak support
  config.yaml
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

chore(bundle): latest bundle updates for v99.99.99-4
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysisruns.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_clusteranalysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_experiments.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_notificationsconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rollouts.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
Due: none

Inherit secrets in auto trigger workflow
  .github/workflows/auto-trigger-bundle.yaml
Due: none

Add image updater and agent images in bundle
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysisruns.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_clusteranalysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_experiments.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_notificationsconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rollouts.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

Update sources
  config.yaml
Due: none

chore(build): bump to v99.99.99-5
  BUILD
Due: argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v99.99.99-5
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_namespacemanagements.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
Due: none

update pipeline to use build-helm-chart chart
  .tekton/agent-helm-build-pull-request.yaml
  helm-chart/argocd-agent-agent/downstream-values.yaml
  helm-chart/argocd-agent-agent/pr-redhat-values.yaml
  helm-chart/argocd-agent-agent/update-values-file.sh
Due: none

Red Hat Konflux update agent-helm-build
  .tekton/agent-helm-build-pull-request.yaml
  .tekton/agent-helm-build-push.yaml
Due: none

fix missing taskRef
  .tekton/agent-helm-build-pull-request.yaml
  .tekton/agent-helm-build-push.yaml
Due: none

fix error
  .tekton/agent-helm-build-pull-request.yaml
Due: none

fix params
  .tekton/agent-helm-build-pull-request.yaml
Due: none

use helm-build-oci-ta to update image tag
  .tekton/agent-helm-build-pull-request.yaml
  .tekton/agent-helm-build-push.yaml
  .tekton/tasks/updateDigestForHelm.yaml
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Path conditions:
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
