Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

gitops-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

rpm-microshift-gitops-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: ociStorage
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/rpm-microshift-gitops-main:on-pr-{{revision}}
  - name: path-context
    value: rpms/microshift-gitops
  - name: package-name
  ...

Update run-dast.yaml
  .tekton/steps/run-dast.yaml
Due: none

Update gitops-bundle-dast-pipeline.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-dast-pipeline.yaml
Due: none

Update run-gitops-operator-e2e.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
Due: none

wip
  .tekton/steps/run-dast.yaml
Due: none

wip
  .tekton/integration-tests/pipelines/gitops-bundle-dast-pipeline.yaml
Due: none

fix: console plugin - Align Tooltip (#8117)
  config.yaml
Due: none

fix: console plugin - Align Tooltip (#8117) (#371)
  config.yaml
Due: none

update image-updater commit sha to 77f92be2551775e5337f508288fce9c5984d3bc4 to include the fix for write-back helmvalues
  config.yaml
Due: none

update image-updater commit sha to d19e1dfc55e8c6a66747ffcb89fb47786422e4fd to include the fix for forceUpdate with digest
  config.yaml
Due: none

Create .mergify.yml for auto-approval rules
  .mergify.yml
Due: none

update image-updater commit sha to d19e1df to include the fix for write-back helmvalues and forceUpdate with digest (#375)
  config.yaml
Due: none

Setup 1.19 jobs
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-cli-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

chore: Setup 1.19 branch (#385)
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-cli-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Revert "chore: Setup 1.19 branch (#385)"
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-cli-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Revert "chore: Setup 1.19 branch (#385)" (#386)
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-cli-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Add branch filters to auto-trigger workflow
  .github/workflows/auto-trigger-bundle.yaml
Due: none

chore: Setup 1.19 branch (#387)
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-cli-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Update sources for 1.19.0
  config.yaml
Due: none

chore: Update sources for 1.19.0 (#388)
  config.yaml
Due: none

chore(build): bump to v1.19.0-1
  BUILD
Due: argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.0-1
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rolloutmanagers.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

Argocd agentctl component building binaries
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-agentctl-cli-push.yaml
  clis/argocd-agentctl/Dockerfile
Due: none

Remove default 50d quay image deletion
  .tekton/build-multi-platform-image.yaml
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

chore(build): bump to v1.19.0-2
  BUILD
Due: argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.0-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Apply suggestions from code review
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-agentctl-cli-push.yaml
Due: none

Modify imageDigestMirrors in catalog installation
  docs/catalog-installation.md
Due: none

Update agent to 0.5.0
  config.yaml
Due: none

feat: Building argocd agentctl component binaries (#391)
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-agentctl-cli-push.yaml
  clis/argocd-agentctl/Dockerfile
Due: none

Adjust resource limits for argocd build
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
Due: none

Bump dex to 2.42.1 to resolve CVE-2024-45338
  config.yaml
Due: none

Path conditions:
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
