Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)

chore(bundle): latest bundle updates for v1.16.5-2 (#454)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

CVE-2025-58754 Axios update - rollout-extension (#7753)
  config.yaml
Due: none

1.19.z - CVE-2025-58754 Axios update - rollout-extension (#7753)
  config.yaml
Due: none

1.18.z - CVE-2025-58754 Axios update - rollout-extension (#7753)
  config.yaml
Due: none

Updated gitops-operator commits
  config.yaml
Due: none

Updated gitops-operator commits (#470)
  config.yaml
Due: none

chore(build): bump to v1.18.2-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Updated gitops-operator commit
  config.yaml
Due: none

Updated gitops-operator commit (#472)
  config.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.2-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.2-2 (#473)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.17.3-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Update gitops-operator commit
  config.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.3-3
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.3-3 (#476)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

Update gitops-operator commit (#475)
  config.yaml
Due: none

chore(build): bump to v1.16.5-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.16.5-3
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.16.5-3 (#478)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add snapshot to 1.18.2 release yaml
  releases/v1.18.2/prod-release.yaml
  releases/v1.18.2/stage-release.yaml
Due: none

Add snapshot to 1.18.2 release yaml (#480)
  releases/v1.18.2/prod-release.yaml
  releases/v1.18.2/stage-release.yaml
Due: none

Add snapshot to 1.17.3 release yaml
  releases/v1.17.3/prod-release.yaml
  releases/v1.17.3/stage-release.yaml
Due: none

Add snapshot to 1.17.3 release yaml (#481)
  releases/v1.17.3/prod-release.yaml
  releases/v1.17.3/stage-release.yaml
Due: none

Add snapshot to 1.16.5 release yaml
  releases/v1.16.5/prod-release.yaml
  releases/v1.16.5/stage-release.yaml
Due: none

Add snapshot to 1.16.5 release yaml (#482)
  releases/v1.16.5/prod-release.yaml
  releases/v1.16.5/stage-release.yaml
Due: none

Updated gitops-operator commit (#483)
  config.yaml
Due: none

chore(build): bump to v1.19.0-8
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.0-8
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.0-8 (#485)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add 1.19.0 snapshot in release files
  releases/staging/1.19.0/release.yaml
Due: none

Enable mac builds
  clis/argocd/Dockerfile
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push

Update comments
  clis/argocd/Dockerfile
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push

feat: Enable mac argocd cli builds (#486)
  clis/argocd/Dockerfile
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push

prepare agentctl for release
  clis/argocd-agentctl/Dockerfile
Due: argocd-agentctl-main-on-push

chore: prepare agentctl for release (#487)
  clis/argocd-agentctl/Dockerfile
Due: argocd-agentctl-main-on-push

Add agentctl cli configs for 1.19
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-agentctl-cli-push.yaml
  clis/argocd-agentctl/Dockerfile
Due: argocd-agentctl-main-on-push

Add agentctl cli configs for 1.19 (#488)
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-agentctl-cli-push.yaml
  clis/argocd-agentctl/Dockerfile
Due: argocd-agentctl-main-on-push
