Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-main-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  - pipelineTaskName: build-source-image
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  params:
  - name: git-url
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

chore(bundle): latest bundle updates for v1.21.0-5
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.0-5 (#1007)
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

build: update argocd-agent chart
  helm-charts/redhat-argocd-agent/0.9.0/src/values.yaml
Due: none

build: update argocd-agent chart
  hack/generate-agent-helm-chart.py
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/values.schema.json
  helm-charts/redhat-argocd-agent/main/src/.helmignore
  helm-charts/redhat-argocd-agent/main/src/Chart.yaml
  helm-charts/redhat-argocd-agent/main/src/README.md
  helm-charts/redhat-argocd-agent/main/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/main/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/main/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/agent-servicemonitor.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/main/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/main/src/values.schema.json
  helm-charts/redhat-argocd-agent/main/src/values.yaml
Due: none

build: update argocd-agent chart
  hack/generate-agent-helm-chart.py
  helm-charts/redhat-argocd-agent/0.9.0/src/README.md
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.9.0/src/values.yaml
Due: none

Regenerate chart
  helm-charts/redhat-argocd-agent/0.9.0/src/README.md
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.9.0/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.9.0/src/values.yaml
Due: none

build: update argocd-agent chart (#1008)
  hack/generate-agent-helm-chart.py
  helm-charts/redhat-argocd-agent/0.9.0/src/values.yaml
Due: none

Make pod scc openshift compatible
  hack/generate-agent-helm-chart.py
Due: none

Pull in latest to console plugin for 1.21 release
  config.yaml
Due: none

chore(deps): refresh rpm lockfiles
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argocd-main-on-pull-request

Pull in latest to console plugin for 1.21 release (#1010)
  config.yaml
Due: none

remove version argument from agent dockerfile
  containers/argocd-agent/Dockerfile
Due: none

Remove CI_ARGOCD_AGENT_VERSION from Dockerfile
  containers/argocd-agent/Dockerfile
Due: none

Bump gitops-operator to include redis fix
  config.yaml
Due: none

chore(build): bump to v1.21.0-6
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Regenerate rpm lock
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argocd-main-on-pull-request

chore(build): bump to v1.21.0-7
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.0-7
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.0-7 (#1013)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Update to new snapshot for 1.21
  releases/1.21.0/production/cli-release.yaml
  releases/1.21.0/production/release.yaml
  releases/1.21.0/staging/cli-release.yaml
  releases/1.21.0/staging/release.yaml
  releases/1.21.0/staging/snapshot-backup.yaml
Due: none

Update to new snapshot for 1.21 (#1014)
  releases/1.21.0/production/cli-release.yaml
  releases/1.21.0/production/release.yaml
  releases/1.21.0/staging/cli-release.yaml
  releases/1.21.0/staging/release.yaml
  releases/1.21.0/staging/snapshot-backup.yaml
Due: none

Pull in latest to console plugin for 1.20 release
  config.yaml
Due: none

chore(deps): update konflux references
  .tekton/build-multi-platform-image.yaml
  .tekton/build-rpm-package.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Pull in latest to console plugin for 1.20 release (#1015)
  config.yaml
Due: none

chore(deps): refresh rpm lockfiles [SECURITY]
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argocd-main-on-pull-request

Setup 1.19.5
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Regenerate rpm lock
  prefetch/rpms/ubi8/rpms.lock.yaml
Due: argo-rollouts-main-on-pull-request

Regenerate ubi9 lock file
  prefetch/rpms/ubi9/rpms.lock.yaml
  prefetch/rpms/ubi9/ubi.repo
Due: argocd-main-on-pull-request

Setup 1.20.5 release
  BUILD
  config.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, argocd-main-on-pull-request, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.5-0
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.5-0 (#1016)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

bump image-updater from 1.1.2 to 1.1.3
  config.yaml
Due: none

bump image-updater from 1.1.2 to 1.1.3 (#1017)
  config.yaml
Due: none

Bump gitops-operator
  config.yaml
Due: none

chore(build): bump to v1.19.5-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.5-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.5-1 (#1019)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Setup 1.21.0
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.21.1-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)
