Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

chore(update-sources): refresh source commits
  config.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/README.md
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/values.schema.json
  helm-charts/redhat-argocd-agent/99.99.99/src/values.yaml
Due: argocd-main-on-pull-request

chore(build): bump to v1.19.7-38
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-42
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-42
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-42 (#1585)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.21.4-42
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-42
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-42 (#1593)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-53
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.19.7-39
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-43
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-43
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-43 (#1602)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.21.4-43
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-43
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-43 (#1606)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-54
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.19.7-40
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-44
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.21.4-44
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-44
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-44 (#1619)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-55
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.19.7-41
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-45
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.21.4-45
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v99.99.99-56
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Consolidate nightly catalog PRs into a single PR
  .github/workflows/build-release-candidate.yaml
  Makefile
  hack/generate-nightly-catalog.py
Due: none

Add setup-new-release workflow for automated z-stream setup
  .github/workflows/setup-new-release.yaml
Due: none

chore(release): setup v1.20.8
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request
