Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

chore(build): bump to v1.21.2-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.6-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.19.6-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.6-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.6-1 (#1032)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.6-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.6-1 (#1033)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.2-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.2-1 (#1034)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

feat(argocd): Add symlink for Argo CD commit server to `argocd` image
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

feat(argocd): Add symlink for Argo CD commit server to `argocd` image (#1035)
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Bump argocd
  config.yaml
Due: none

Update release docs
  docs/catalog-installation.md
  docs/new-container-onboarding-guide.md
  docs/prepare-for-a-zstream-release.md
  docs/releasing-gitops-with-konflux.md
Due: none

Add backporting process doc
  docs/backporting-bug-fixes.md
Due: none

Update Konflux references
  .tekton/build-multi-platform-image.yaml
  .tekton/build-rpm-package.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Update Gitops Backend Commit to Latest
  config.yaml
Due: none

Update Gitops Backend Commit to Latest (#1036)
  config.yaml
Due: none

Adding references to enable hermetic builds
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  prefetch/pnpm/README.md
Due: argocd-main-on-pull-request

Enable hermetic pnpm build
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  containers/argocd/Dockerfile
  prefetch/pnpm/README.md
Due: argocd-main-on-pull-request

Updated .tekton/build-multi-platform-image.yaml to pin the new prefetch task bundle
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Bootstrap pnpm via npm prefetch like Yarn bootstrap
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  containers/argocd/Dockerfile
  prefetch/pnpm/README.md
  prefetch/pnpm/package-lock.json
  prefetch/pnpm/package.json
Due: argocd-main-on-pull-request

Migrate Argo CD Dockerfile to use pnpm
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  config.yaml
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Updated .tekton/build-multi-platform-image.yaml to pin the task-prefetch-dependencies-oci-ta:0.4.1
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Fixing shared RPM lockfile missing openssl-libs
  prefetch/rpms/ubi9/rpms.in.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: argocd-main-on-pull-request

update to the last argo-cd master commit
  config.yaml
Due: none

chore(deps): Update x/net to avoid CVE-2026-27136
  config.yaml
Due: none

Added gitops bundle integration test scenario
  .tekton/images-mirror-set.yaml
  .tekton/integration-tests/README.md
  .tekton/integration-tests/pipelines/gitops-operator-bundle-sanity.yaml
  .tekton/integration-tests/scenarios/gitops-bundle-sanity-tests.yaml
  .tekton/integration-tests/stepactions/check-gate-labels.yaml
  .tekton/integration-tests/stepactions/extract-image-content-sources.yaml
  .tekton/integration-tests/stepactions/resolve-openshift-version.yaml
  .tekton/integration-tests/tasks/build-ginkgo-test-image.yaml
  .tekton/integration-tests/tasks/install-operator-bundle.yaml
  .tekton/integration-tests/tasks/overlay-test-scripts.yaml
  .tekton/integration-tests/tasks/pipeline-wrapup.yaml
  .tekton/integration-tests/tasks/provision-cluster.yaml
  .tekton/integration-tests/tasks/test-operator.yaml
  .tekton/integration-tests/test-image/.hadolint.yaml
  .tekton/integration-tests/test-image/Dockerfile
  .tekton/integration-tests/test-image/Dockerfile.base-v1.21
  .tekton/integration-tests/test-image/Dockerfile.testsuites
  .tekton/integration-tests/test-image/scripts/collect-and-upload-logs.sh
  .tekton/integration-tests/test-image/scripts/collect-logs-sidecar.sh
  .tekton/integration-tests/test-image/scripts/get-installed-version.sh
  .tekton/integration-tests/test-image/scripts/install-operator-bundle.sh
  .tekton/integration-tests/test-image/scripts/lib/collect-pod-logs.sh
  .tekton/integration-tests/test-image/scripts/lib/oras-helpers.sh
  .tekton/integration-tests/test-image/scripts/lib/wait-for-resources.sh
  .tekton/integration-tests/test-image/scripts/print-cluster-login-info.sh
  .tekton/integration-tests/test-image/scripts/publish-results.sh
  .tekton/integration-tests/test-image/scripts/render-results.py
  .tekton/integration-tests/test-image/scripts/run-and-save-logs.sh
  .tekton/integration-tests/test-image/scripts/run-sanity-tests.sh
  .tekton/integration-tests/test-image/scripts/send-slack-message.py
  .tekton/integration-tests/test-image/scripts/verify-images.py
Due: none

Bump gitops-backend as well
  config.yaml
Due: none

Touch gitops-operator-bundle Dockerfile to trigger a build
  containers/gitops-operator-bundle/Dockerfile
Due: none

Update dependency ubuntu to v24
  .github/workflows/publish-agent-chart-quay.yaml
  .github/workflows/test-agent-helm-chart-package-pr.yaml
  .github/workflows/trigger-agent-helm-chart-update.yaml
  .github/workflows/trigger-bundle-build.yaml
  .github/workflows/trigger-operator-builds.yaml
Due: none

Switch argocd source to upstream
  .gitmodules
  .tekton/build-multi-platform-image.yaml
  config.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

chore(deps): Update x/net in 1.20 to avoid CVE-2026-27136 (#1037)
  config.yaml
Due: none

chore(deps): Update x/net in 1.21 to avoid CVE-2026-27136 (#1038)
  config.yaml
Due: none

chore(deps): Update x/net to avoid CVE-2026-27136 (#1040)
  config.yaml
Due: none
