Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

Add release-1.20 to baseBranchPatterns
  renovate.json
Due: none

chore(build): bump to v1.20.0-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.0-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Update version from v1.20.0-2 to v1.20.0-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Fix versioning in script
  hack/setup-release.py
Due: none

Correct target_branch label
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-agentctl-cli-push.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-cli-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Update version to v1.20.0-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.0-1
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rolloutmanagers.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.0-1 (#743)
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rolloutmanagers.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

Update missing 1.20 configs
  config.yaml
  releases/1.20.0/staging/release.yaml
Due: none

Added minimal integration test for gitops-bundle.
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/integration-tests/integration-test-scenarios/e2e-tests-lowest-ose.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/steps/gather-cluster-diagnostics.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
  .tekton/steps/patch-and-push-bundle.yaml
  .tekton/steps/prepare-and-push-logs.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
  .tekton/steps/send-slack-message.yaml
  .tekton/tasks/export-logs-to-quay.yaml
  .tekton/tasks/send-slack-message.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

WIP
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
Due: none

WIP
  .tekton/steps/install-gitops-operator-bundle.yaml
Due: none

WIP
  .tekton/steps/gather-cluster-diagnostics.yaml
Due: none

Add script and gha automation to build agent helm-chart
  .github/workflows/publish-agent-chart-ghcr.yaml
  .github/workflows/test-agent-helm-chart-package-pr.yaml
  .github/workflows/trigger-agent-helm-chart-update.yaml
  .gitignore
  Makefile
  hack/generate-agent-helm-chart.py
  helm-charts/redhat-argocd-agent/0.7.0/src/.helmignore
  helm-charts/redhat-argocd-agent/0.7.0/src/Chart.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/README.md
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.7.0/src/values.yaml
Due: none

Modify ci triggers
  .github/workflows/publish-agent-chart-ghcr.yaml
Due: none

feat: Add script and gha automation to build agent helm-chart (#746)
  .github/workflows/publish-agent-chart-ghcr.yaml
  .github/workflows/test-agent-helm-chart-package-pr.yaml
  .github/workflows/trigger-agent-helm-chart-update.yaml
  .gitignore
  Makefile
  hack/generate-agent-helm-chart.py
  helm-charts/redhat-argocd-agent/0.7.0/src/.helmignore
  helm-charts/redhat-argocd-agent/0.7.0/src/Chart.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/README.md
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.7.0/src/values.yaml
Due: none

Add version tags to built images
  .tekton/build-multi-platform-image.yaml
  .tekton/tasks/generate-metadata.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Add version tags to built images (#747)
  .tekton/build-multi-platform-image.yaml
  .tekton/tasks/generate-metadata.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Minimal integration test for bundle installation.
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/integration-tests/integration-test-scenarios/e2e-tests-lowest-ose.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/steps/gather-cluster-diagnostics.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
  .tekton/steps/patch-and-push-bundle.yaml
  .tekton/steps/prepare-and-push-logs.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
  .tekton/steps/send-slack-message.yaml
  .tekton/tasks/export-logs-to-quay.yaml
  .tekton/tasks/send-slack-message.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

updated to 1.19.2 images references
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Fix typo in image tag generation task
  .tekton/tasks/generate-metadata.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Add version tags to images (#762)
  .tekton/build-multi-platform-image.yaml
  .tekton/tasks/generate-metadata.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

chore(agent-helm-chart): regenerate chart
  helm-charts/redhat-argocd-agent/0.7.0/src/values.yaml
Due: none

Push to quay instead of ghcr
  .github/workflows/publish-agent-chart-quay.yaml
Due: none

Bump rollouts to rhel9 and argocd to 3.3.4
  clis/kubectl-argo-rollouts/Dockerfile
  config.yaml
Due: none

Bump rollouts to rhel9 and argocd to 3.3.4 (#764)
  clis/kubectl-argo-rollouts/Dockerfile
  config.yaml
Due: none

Update argo-rollouts commit-id and ref to release-1.8
  config.yaml
Due: none

Add cli release yaml for 1.20
  releases/1.20.0/production/cli-release.yaml
  releases/1.20.0/staging/cli-release.yaml
Due: none

changed script to force rebuild
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push

build microshift-gitops using pre-build-script custom task to create tarball
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/tasks/pre-build-script.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Update argo-rollouts commit-id and ref to release-1.8 (#767)
  config.yaml
Due: none

Add cli release yaml for 1.20 (#766)
  releases/1.20.0/production/cli-release.yaml
  releases/1.20.0/staging/cli-release.yaml
Due: none
