Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-main-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  - pipelineTaskName: build-source-image
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  params:
  - name: git-url
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

chore(bundle): latest bundle updates for v1.22.0-1
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_namespacemanagements.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_notificationsconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_argocdcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_changetransferpolicies.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_clusterscmproviders.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_commitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_controllerconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_gitcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_gitrepositories.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_promotionstrategies.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_pullrequests.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_revertcommits.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_scheduledcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_scmproviders.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_timedcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_webrequestcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

chore(bundle): latest bundle updates for v1.22.0-1 (#1336)
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/argocd-image-updater.argoproj.io_imageupdaters.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_namespacemanagements.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_notificationsconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_argocdcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_changetransferpolicies.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_clusterscmproviders.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_commitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_controllerconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_gitcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_gitrepositories.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_promotionstrategies.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_pullrequests.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_revertcommits.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_scheduledcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_scmproviders.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_timedcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/manifests/promoter.argoproj.io_webrequestcommitstatuses.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

chore(update-sources): refresh source commits
  config.yaml
Due: none

chore(build): bump to v1.19.7-16
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.7-16
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.7-16 (#1341)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Upgrade the kubectl-argo-rollouts pnpm package manager to 11.9.0
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  clis/kubectl-argo-rollouts/ui/pin-argo-ui.js
  clis/kubectl-argo-rollouts/ui/pnpm-lock.yaml
  containers/argocd/ui/pin-argo-ui.js
  hack/pin-pnpm-deps.sh
  prefetch/pnpm/11.9.0/package-lock.json
  prefetch/pnpm/11.9.0/package.json
Due: argocd-main-on-pull-request

chore(build): bump to v1.20.7-20
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-20
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-20 (#1343)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Check kubectl-argo-rollouts build withoud pin github dep
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  prefetch/pnpm/11.9.0/package-lock.json
  prefetch/pnpm/11.9.0/package.json
Due: none

chore(agent-helm-chart): regenerate chart
  helm-charts/redhat-argocd-agent/0.10.0/src/.helmignore
  helm-charts/redhat-argocd-agent/0.10.0/src/Chart.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/README.md
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/agent-servicemonitor.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/0.10.0/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.10.0/src/values.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/README.md
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/values.schema.json
Due: none

chore(build): bump to v1.21.4-20
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v99.99.99-30
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Upgrade the kubectl-argo-rollouts pnpm package manager to 11.9.0 (#1334)
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  clis/kubectl-argo-rollouts/ui/pin-argo-ui.js
  clis/kubectl-argo-rollouts/ui/pnpm-lock.yaml
  containers/argocd/ui/pin-argo-ui.js
  hack/pin-pnpm-deps.sh
  prefetch/pnpm/11.9.0/package-lock.json
  prefetch/pnpm/11.9.0/package.json
Due: argocd-main-on-pull-request

chore: align env var GITOPS_CONSOLE_PLUGIN_4_18_IMAGE with operator
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

chore(build): bump to v1.19.7-17
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.7-17
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.7-17 (#1354)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.20.7-21
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-21
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-21 (#1356)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore: align env var GITOPS_CONSOLE_PLUGIN_4_18_IMAGE with operator (#1348)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

align env var GITOPS_CONSOLE_PLUGIN_4_18_IMAGE with operator
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

chore(build): bump to v1.21.4-21
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-21
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-21 (#1358)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-31
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v99.99.99-31
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v99.99.99-31 (#1360)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add doc on how to add a new catalog
  README.md
  docs/assets/create-new-catalog-app.png
  docs/new-catalog-onboarding-guide.md
Due: none

Removed manual creation of the new catalog application and component
  docs/assets/create-new-catalog-app.png
  docs/new-catalog-onboarding-guide.md
Due: none

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)
