Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-main-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  - pipelineTaskName: build-source-image
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  params:
  - name: git-url
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

feat: build argo-rollouts cli component binaries
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  .tekton/tasks/generate-metadata.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  config.yaml
  docs/releasing-clis-with-konflux.md
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

Add CPE label required on the containers
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-extensions/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/console-plugin/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
  containers/must-gather/Dockerfile
Due: argo-rollouts-main-on-pull-request, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

Add CPE label required on the containers
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-extensions/Dockerfile
  containers/argocd-image-updater/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/console-plugin/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
  containers/must-gather/Dockerfile
Due: argo-rollouts-main-on-pull-request, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

Add missing CPE label on the containers
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Add missing CPE label on the containers
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-extensions/Dockerfile
  containers/argocd-image-updater/Dockerfile
  containers/argocd/Dockerfile
  containers/console-plugin/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
  containers/must-gather/Dockerfile
Due: argo-rollouts-main-on-pull-request, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

update argocd-image-updater to 8b4dd7920b1b85b4e674bad838b612c3813ffe7c (v1.1.0)
  config.yaml
Due: none

fix: Update Console Plugin for CVE-2025-13465
  config.yaml
Due: none

fix: Update Console Plugin for CVE-2025-13465 (#646)
  config.yaml
Due: none

remove prebuild task & rebase standard pipeline refs
  .tekton/build-rpm-package.yaml
  .tekton/tasks/pre-build-script.yaml
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request, test-microshift-rpm-build-on-push

feat: build argo-rollouts cli component binaries (#587)
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  .tekton/tasks/generate-metadata.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  config.yaml
  docs/releasing-clis-with-konflux.md
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

fix: Update Console Plugin for CVE-2025-13465 (#645)
  config.yaml
Due: none

fix: Update Console Plugin for CVE-2025-13465 (#644)
  config.yaml
Due: none

updated rpm-microshift-gitops tekton scripts
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push

Remove tags from node and minimal images to use latest automatically
  .tekton/tasks/generate-metadata.yaml
  containers/console-plugin/Dockerfile
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

Regenerate rpm lock with openssh-clients package
  prefetch/rpms/ubi9/rpms.in.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
  prefetch/rpms/ubi9/ubi.repo
Due: argocd-main-on-pull-request

Removed installation of git where not required and installing git-core where required
  containers/argo-rollouts/Dockerfile
  containers/argocd-image-updater/Dockerfile
  containers/argocd/Dockerfile
Due: argo-rollouts-main-on-pull-request, argocd-main-on-pull-request

Add missing packages
  prefetch/rpms/ubi9/rpms.in.yaml
Due: argocd-main-on-pull-request

Fix rollouts build
  containers/argo-rollouts/Dockerfile
Due: argo-rollouts-main-on-pull-request

chore(containers): Bump console-plugin to use UBI 10 consistently
  containers/console-plugin/Dockerfile
Due: none

Added simple integration test that uses the bundle with patched in component versions from the PR
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/integration-tests/integration-test-scenarios/e2e-tests-lowest-ose.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
  .tekton/steps/prepare-and-push-logs.yaml
  .tekton/steps/prepare-logs.yaml
  .tekton/steps/push-logs.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
  .tekton/steps/send-slack-message.yaml
  .tekton/tasks/export-logs-to-quay.yaml
  .tekton/tasks/send-slack-message.yaml
  BUILD
  config.yaml
  containers/gitops-operator-bundle/Dockerfile
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

build microshift-gitops using pre-build-script custom task to create tarball
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/tasks/pre-build-script.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Empty commit to trigger a thing.
  containers/gitops-operator-bundle/Dockerfile
Due: none

Added minimal integration test for gitops-bundle.
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/integration-tests/integration-test-scenarios/e2e-tests-lowest-ose.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
  .tekton/steps/prepare-and-push-logs.yaml
  .tekton/steps/prepare-logs.yaml
  .tekton/steps/push-logs.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
  .tekton/steps/send-slack-message.yaml
  .tekton/tasks/export-logs-to-quay.yaml
  .tekton/tasks/send-slack-message.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

Updates to trigger rebuilds.
  BUILD
  config.yaml
  containers/argocd/Dockerfile
  containers/gitops-operator-bundle/Dockerfile
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, argocd-main-on-pull-request, gitops-main-on-pull-request

WIP
  .tekton/argocd-pull-request.yaml
Due: argocd-main-on-pull-request

build microshift-gitops using pre-build-script custom task to create tarball
  .tekton/build-rpm-package.yaml
  .tekton/microshift-gitops-rpm-pull-request.yaml
  .tekton/microshift-gitops-rpm-push.yaml
  .tekton/tasks/pre-build-script.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

feat: Install git-core instead of git (#658)
  containers/argo-rollouts/Dockerfile
  containers/argocd-image-updater/Dockerfile
  containers/argocd/Dockerfile
  prefetch/rpms/ubi9/rpms.in.yaml
Due: argo-rollouts-main-on-pull-request, argocd-main-on-pull-request

Update argocd-image-updater (v1.0.3) for GitOps 1.19.2
  config.yaml
Due: none

Update argocd-image-updater (v1.0.3) for GitOps 1.19.2 (#670)
  config.yaml
Due: none

Pull in latest plugin changes for 1.20 feature freeze
  config.yaml
Due: none

Pull in latest plugin changes for 1.20 feature freeze (#671)
  config.yaml
Due: none

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)
