Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

chore(build): bump to v1.20.0-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Update memory limits for prefetch-dependencies task
  .tekton/argocd-push.yaml
Due: none

chore(build): bump to v1.20.0-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Remove dev-package-managers parameter
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Revert prefetch task updates
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Revert rpm signature task
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Revert prefetch task updates (#779)
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Revert "chore(deps): update konflux references (#758)"
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Downgrade argocd to 3.3.2
  config.yaml
Due: none

Downgrade argocd to 3.3.2 (#778)
  config.yaml
Due: none

Revert "chore(deps): update konflux references (#758)" (#780)
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

chore(build): bump to v1.20.0-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.0-4
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.0-4 (#782)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Release 1.20.0
  releases/1.20.0/production/cli-release.yaml
  releases/1.20.0/production/release.yaml
  releases/1.20.0/staging/cli-release.yaml
Due: none

Add 1.20.0 release snapshot
  releases/1.20.0/production/snapshot.yaml
Due: none

Setup 1.20.1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Update agent to 0.7.3
  config.yaml
Due: none

chore(build): bump to v1.20.1-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.1-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.1-1 (#795)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(agent-helm-chart): regenerate chart
  helm-charts/redhat-argocd-agent/0.7.3/src/.helmignore
  helm-charts/redhat-argocd-agent/0.7.3/src/Chart.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/README.md
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/0.7.3/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.7.3/src/values.yaml
Due: none

Bump agent to 0.7.4
  config.yaml
Due: none

chore(build): bump to v1.20.1-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.1-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.1-2 (#798)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(agent-helm-chart): regenerate chart
  helm-charts/redhat-argocd-agent/0.7.4/src/.helmignore
  helm-charts/redhat-argocd-agent/0.7.4/src/Chart.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/README.md
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/0.7.4/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.7.4/src/values.yaml
Due: none

build microshift-gitops using pre-build-script custom task to create tarball
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/tasks/pre-build-script.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

updated to 1.19.2 images references
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

changed script to force rebuild
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push

Red Hat Konflux update rpm-microshift-gitops-1-20
  .tekton/rpm-microshift-gitops-1-20-pull-request.yaml
  .tekton/rpm-microshift-gitops-1-20-push.yaml
Due: none

Add microshift-gitops rpm configuration using pre-build-task to generate tarball (#653)
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/tasks/pre-build-script.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Add rpm-microshift-gitops component configuration
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-1-20-pull-request.yaml
  .tekton/rpm-microshift-gitops-1-20-push.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/tasks/pre-build-script.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Minimal integration test for bundle installation.
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/steps/gather-cluster-diagnostics.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
  .tekton/steps/patch-and-push-bundle.yaml
  .tekton/steps/prepare-and-push-logs.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
  .tekton/steps/send-slack-message.yaml
  .tekton/tasks/export-logs-to-quay.yaml
  .tekton/tasks/send-slack-message.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Release 1.20.1
  releases/1.20.1/production/release.yaml
  releases/1.20.1/production/snapshot.yaml
Due: none

Setup 1.20.2
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Setup 1.20.2 (#822)
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Setup 1.19.3
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.2-0
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.2-0 (#824)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none
