Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

chore(bundle): latest bundle updates for v1.21.4-36 (#1514)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.22.0-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v99.99.99-47
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.22.0-4
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.22.0-4 (#1517)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add nightly-catalog Makefile target
  Makefile
Due: none

Add nightly-catalog Makefile target (#1520)
  Makefile
Due: none

Add nightly-catalog Makefile target (#1519)
  Makefile
Due: none

Add nightly-catalog Makefile target (#1518)
  Makefile
Due: none

Add auto-update field support for source sync
  Makefile
  config.yaml
  hack/ui-refs.sh
  hack/update-sources.sh
Due: none

Remove ui-refs changes not needed on release-1.21
  hack/ui-refs.sh
  hack/update-sources.sh
Due: none

Remove ui-refs changes not needed on release-1.20
  hack/ui-refs.sh
  hack/update-sources.sh
Due: none

Add auto-update field support for source sync (#1521)
  Makefile
  config.yaml
  hack/update-sources.sh
Due: none

Add auto-update field support for source sync (#1522)
  Makefile
  config.yaml
  hack/update-sources.sh
Due: none

Add Release 1.22.0 configuration
  releases/1.22.0/production/cli-release.yaml
  releases/1.22.0/production/release.yaml
  releases/1.22.0/staging/cli-release.yaml
  releases/1.22.0/staging/release.yaml
  releases/1.22.0/staging/snapshot-backup.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/README.md
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/values.schema.json
  helm-charts/redhat-argocd-agent/99.99.99/src/values.yaml
Due: argocd-main-on-pull-request

chore(build): bump to v1.19.7-33
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-37
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.21.4-37
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-37
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-37 (#1531)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-48
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.19.7-34
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-38
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-38
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-38 (#1538)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.21.4-38
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-38
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-38 (#1540)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-49
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request
