Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, microshift-gitops-rpm-dev-main-on-pull-request

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

gitops-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

microshift-gitops-rpm-dev-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: ociStorage
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/microshift-gitops-rpm-dev-main:on-pr-{{revision}}
  - name: path-context
    value: rpms/microshift-gitops
  - name: package-name
  ...

Setup 1.16.4
  BUILD
  config.yaml
Due: gitops-main-on-pull-request

release 1.17.2: update metadata
  BUILD
  config.yaml
Due: gitops-main-on-pull-request

release 1.17.2: update metadata (#284)
  BUILD
  config.yaml
Due: gitops-main-on-pull-request

release 1.17.2: update argo-cd and gitops-operator commits
  config.yaml
Due: none

release 1.17.2: update gitops-must-gather commit
  config.yaml
Due: none

release 1.17.2: update argo-cd and gitops-operator commits (#285)
  config.yaml
Due: none

chore(operator): bump to v1.17.2-1
  BUILD
Due: gitops-main-on-pull-request

Update Argo CD to 2.14.20
  config.yaml
Due: none

Bump compute resources for build-source-image task
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
Due: none

Drop 1.15 support
  renovate.json
Due: none

Bump ArgoCD to v3.1.8
  config.yaml
Due: none

Bump compute resources for prefetch-dependencies task
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
Due: none

chore(operator): bump to v1.18.1-1
  BUILD
Due: gitops-main-on-pull-request

release 1.17.2: update argo-cd and gitops-operator commits (#298)
  config.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.2-1
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

chore(operator): bump to v1.16.4-1
  BUILD
Due: gitops-main-on-pull-request

update gitops operator to include fips fix
  config.yaml
Due: none

Fix docker build
  containers/gitops-operator-bundle/Dockerfile
Due: none

Remove extra char from bundle dockerfile
  containers/gitops-operator-bundle/Dockerfile
Due: none

chore(bundle): latest bundle updates for v1.16.4-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.1-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(deps): update konflux references
  .tekton/build-multi-platform-image.yaml
Due: argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Add local build details in konflux-component-guide.md
  docs/konflux-component-guide.md
Due: none

release 1.18.1: update latest gitops-operator commit
  config.yaml
Due: none

chore(operator): bump to v1.18.1-2
  BUILD
Due: gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.18.1-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Release 1.16.4
  releases/v1.16.4/prod-release.yaml
  releases/v1.16.4/stage-release.yaml
Due: none

Release 1.17.2
  releases/v1.17.2/prod-release.yaml
  releases/v1.17.2/stage-release.yaml
Due: none

Path conditions:
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-dev-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
