Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

added Build Chain Troubleshooting
  docs/prepare-for-a-zstream-release.md
Due: none

Update docs/prepare-for-a-zstream-release.md
  docs/prepare-for-a-zstream-release.md
Due: none

fix: add the missing ARGOCD_AGENT_IMAGE to bundle injection (#594)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

Migrate to rhel9 containers
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  clis/argocd-agentctl/Dockerfile
  clis/argocd/Dockerfile
  config.yaml
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-extensions/Dockerfile
  containers/argocd-image-updater/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
  docs/catalog-installation.md
  prefetch/rpms/ubi8/.gitignore
  prefetch/rpms/ubi8/Dockerfile
  prefetch/rpms/ubi8/rpms.in.yaml
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi8/ubi.repo
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Update rhel9 references
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-image-updater-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  config.yaml
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-extensions/Dockerfile
  containers/argocd-image-updater/Dockerfile
  containers/argocd/Dockerfile
  containers/console-plugin/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
  containers/must-gather/Dockerfile
  docs/catalog-installation.md
  docs/konflux-component-guide.md
Due: argo-rollouts-main-on-pull-request, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Update image digest mirrors in catalog installation
  docs/catalog-installation.md
Due: none

chore(bundle): latest bundle updates for v99.99.99-9
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v99.99.99-9 (#614)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

added snapshot backups to doc (#601)
  docs/prepare-for-a-zstream-release.md
  docs/releasing-with-konflux.md
Due: none

chore: update build configs
  containers/argocd-agent/Dockerfile
Due: none

chore: switch argocd-agent build to make target
  containers/argocd-agent/Dockerfile
Due: none

WIP
  .tekton/integration-tests/pipelines/gitops-bundle-dast-pipeline.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-sequential-pipeline.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-rollouts-test-pipeline.yaml
  .tekton/steps/install-gitops-operator-bundle-emulate-olm.yaml
  .tekton/steps/install-gitops-operator-subscription.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
  .tekton/steps/run-gitops-rollouts-e2e.yaml
Due: none

WIP
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
Due: none

WIP
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
Due: none

remove name field
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

update microshift-gitops.spec with 1.19.0 data
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: rpm-microshift-gitops-main-on-pull-request

Basic git ref
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Debug pipelinerun failure
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Older image
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Use upstream tasks
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  rpms/microshift-gitops/generate-source-tarball.sh
Due: rpm-microshift-gitops-main-on-pull-request

updated rpm-microshift-gitops-main component and GA to regenerate spec file
  .github/workflows/generate-microshft-gitosp-rpm-spec-file.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  config.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: rpm-microshift-gitops-main-on-pull-request

debug
  .tekton/build-rpm-package.yaml
Due: none

Use older commit of upstream pipeline
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Try local pipeline
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: rpm-microshift-gitops-main-on-pull-request

Red Hat Konflux update test-microshift-rpm-build
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

update tekton scripts
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request

use https://github.com/konflux-ci/rpmbuild-pipeline standard pipeline
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request

use custom rpmbuild-pipeline
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

Bring standard pipeline code to release repo (test)
  .tekton/build-rpm-package.yaml
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

Use custom pipelineRef
  .tekton/build-rpm-package.yaml
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

Use local pipelineRef
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

restored git pipeline ref
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

Use local pipelineRef
  .tekton/build-rpm-package.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

Use local pipelineRef with enableSymlinkCheck
  .tekton/build-rpm-package.yaml
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

Use local pipelineRef with enableSymlinkCheck
  .tekton/build-rpm-package.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: none

Use local pipelineRef with enableSymlinkCheck and pre-build task
  .tekton/build-rpm-package.yaml
  .tekton/tasks/pre-build-script.yaml
  .tekton/test-microshift-rpm-build-pull-request.yaml
  .tekton/test-microshift-rpm-build-push.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

chore: switch argocd-agent build to make target (#620)
  containers/argocd-agent/Dockerfile
Due: none

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
