Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

Update prefetch-dependencies-oci-ta image reference
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

upgrade go version to 1.25
  containers/dex/Dockerfile
Due: none

upgrade go version to 1.25 (#922)
  containers/dex/Dockerfile
Due: none

upgrade go version to 1.25 (#923)
  containers/dex/Dockerfile
Due: none

Add depth parameter to build-multi-platform-image task
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

chore: 1.20.4 Update gitops-console-plugin to pick up CVE fix (#919)
  config.yaml
Due: none

Bump deps for 1.18.6 release
  .gitmodules
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Bump nodejs to 22
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Bump dex ref
  config.yaml
Due: none

chore(build): bump to v1.18.6-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.18.6-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.6-2 (#930)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

bump deps and setup 1.19.4
  .gitmodules
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Upgrade Node.js version in Argo CD UI Dockerfile
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Update Node.js version in Dockerfile for Argo CD UI
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Bump deps and setup for 1.20.4 release
  .gitmodules
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.4-0
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.4-0 (#941)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Bump gitops-operator commit
  config.yaml
Due: none

chore(build): bump to v1.19.4-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.19.4-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.4-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.4-2 (#947)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Bump agent and gitops-operator
  config.yaml
Due: none

chore(build): bump to v1.20.4-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.4-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.4-2
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.4-2 (#958)
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore: bumps argocd-image-updater to commit 1b622412d7ecc2392e86bd5d1d2fee755fc71ca1 (v1.2.1)
  config.yaml
Due: none

Bump golang to 1.26
  clis/argocd-agentctl/Dockerfile
  clis/argocd/Dockerfile
  clis/kubectl-argo-rollouts/Dockerfile
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-image-updater/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Bump deps
  config.yaml
Due: none

Downgrade rollouts
  config.yaml
Due: none

chore(agent-helm-chart): regenerate chart
  helm-charts/redhat-argocd-agent/0.7.7/src/.helmignore
  helm-charts/redhat-argocd-agent/0.7.7/src/Chart.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/README.md
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/0.7.7/src/values.schema.json
  helm-charts/redhat-argocd-agent/0.7.7/src/values.yaml
Due: none

Update Node.js version in Dockerfile for Argo Rollouts UI
  clis/kubectl-argo-rollouts/Dockerfile
Due: none

Release 1.20.4
  releases/1.20.4/production/release.yaml
Due: none

Release 1.19.4
  releases/production/1.19.4/release.yaml
Due: none

Release 1.18.6
  releases/v1.18.6/prod-release.yaml
Due: none
