Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argocd-extensions-main-on-pull-request, dex-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

dex-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/dex-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

gitops-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

chore(bundle): latest bundle updates for v1.17.0-5
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Release v1.17.0
  releases/v1.17.0/release-prod.yaml
  releases/v1.17.0/release-stage.yaml
  releases/v1.17.0/snapshot.yaml
Due: none

Update RPMs to include latest fixes
  prefetch/rpms/ubi8/rpms.lock.yaml
Due: dex-main-on-pull-request

Format errata
  releases/v1.17.0/release-stage.yaml
Due: none

Add missing v in build data
  BUILD
Due: dex-main-on-pull-request, gitops-main-on-pull-request

Red Hat Konflux update argo-rollouts-1-16
  .tekton/argo-rollouts-1-16-pull-request.yaml
  .tekton/argo-rollouts-1-16-push.yaml
Due: none

Red Hat Konflux update dex-1-16
  .tekton/dex-1-16-pull-request.yaml
  .tekton/dex-1-16-push.yaml
Due: none

Red Hat Konflux update gitops-operator-bundle-1-16
  .tekton/gitops-operator-bundle-1-16-pull-request.yaml
  .tekton/gitops-operator-bundle-1-16-push.yaml
Due: none

Red Hat Konflux update gitops-operator-1-16
  .tekton/gitops-operator-1-16-pull-request.yaml
  .tekton/gitops-operator-1-16-push.yaml
Due: none

Regenerate rpm lock for updated packages
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
Due: dex-main-on-pull-request

Setup 1.16 configs
  .github/workflows/trigger-bundle-build.yaml
  .github/workflows/trigger-operator-build.yaml
  .gitmodules
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-extensions-main-on-pull-request, dex-main-on-pull-request, gitops-main-on-pull-request

Sync sources with 1.16 release
  config.yaml
  containers/argocd-agent/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
Due: none

Test commit
  containers/must-gather/Dockerfile
Due: none

chore(operator): bump to v1.17.0-6
  BUILD
Due: dex-main-on-pull-request, gitops-main-on-pull-request

Update install.sh for exiting unsuccessful temp dir creation
  containers/argocd-extensions/install.sh
Due: argocd-extensions-main-on-pull-request

Add renovate config
  renovate.json
Due: none

Setup for 1.17.1
  BUILD
  config.yaml
Due: dex-main-on-pull-request, gitops-main-on-pull-request

Update ArgoCD Agent
  config.yaml
Due: none

Update install.sh for exiting unsuccessful temp dir creation (#164)
  containers/argocd-extensions/install.sh
Due: argocd-extensions-main-on-pull-request

Add new required param
  .tekton/build-multi-platform-image.yaml
Due: argocd-extensions-main-on-pull-request, dex-main-on-pull-request, gitops-main-on-pull-request

chore(operator): bump to v1.17.1-1
  BUILD
Due: dex-main-on-pull-request, gitops-main-on-pull-request

Use latest golang image
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
Due: none

1.17.1 bundle updates
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add script to update bundle refs in tasks
  Makefile
  hack/update-tekton-task-bundles.sh
Due: none

Update task bundle references
  .tekton/build-multi-platform-image.yaml
Due: argocd-extensions-main-on-pull-request, dex-main-on-pull-request, gitops-main-on-pull-request

Update task bundle refs
  .tekton/build-multi-platform-image.yaml
Due: argocd-extensions-main-on-pull-request, dex-main-on-pull-request, gitops-main-on-pull-request

Revert agent update
  config.yaml
Due: none

Update rpm lock
  prefetch/rpms/ubi8/rpms.lock.yaml
Due: dex-main-on-pull-request

Regenerate rpm lock
  prefetch/rpms/ubi8/rpms.lock.yaml
Due: dex-main-on-pull-request

Setup 1.15 branch
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-extensions-main-on-pull-request, dex-main-on-pull-request, gitops-main-on-pull-request

Sync sources
  config.yaml
Due: none

chore(operator): bump to v1.17.1-2
  BUILD
Due: dex-main-on-pull-request, gitops-main-on-pull-request

Remove FIPS support
  containers/argo-rollouts/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: dex-main-on-pull-request, gitops-main-on-pull-request

Path conditions:
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  dex-main-on-pull-request: ((((((any of: sources/dex) or (any of: containers/dex/***)) or (any of: .tekton/dex-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
