Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

add todo's
  .tekton/agent-helm-build-pull-request.yaml
Due: none

Add release-1.19 to baseBranchPatterns
  renovate.json
Due: none

Fix formatting in renovate.json
  renovate.json
Due: none

Update labels for GitHub Actions workflow
  .github/workflows/trigger-component-builds.yaml
Due: none

chore(build): bump to v99.99.99-6
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Enable auto merge of build PRs
  .github/workflows/trigger-component-builds.yaml
Due: none

Drop actor from auto merge step
  .github/workflows/trigger-component-builds.yaml
Due: none

Fix auto merge action
  .github/workflows/trigger-bundle-build.yaml
  .github/workflows/trigger-component-builds.yaml
Due: none

chore(build): bump to v99.99.99-7
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v99.99.99-7
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Catalog generation script and GHA
  .github/workflows/monitor-bundle-build.yaml
  .gitignore
  Makefile
  config.yaml
  hack/generate-catalog.py
Due: none

Fix catalog generation workflow
  .github/workflows/monitor-bundle-build.yaml
Due: none

chore(build): bump to v99.99.99-8
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v99.99.99-8
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add a test workflow
  .github/workflows/wait-for-bundle-build.yaml
Due: none

chore(build): bump to v99.99.99-9
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v99.99.99-9
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Refactor catalog generation workflow
  .github/workflows/monitor-bundle-build.yaml
  .github/workflows/trigger-bundle-build.yaml
  .github/workflows/trigger-catalog-build.yaml
  .github/workflows/wait-for-bundle-build.yaml
Due: none

Use token with required permissions to creatw catalog PRs
  .github/workflows/trigger-catalog-build.yaml
Due: none

Fix catalog generation script
  hack/generate-catalog.py
Due: none

Adjust resource limits for argocd build
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
Due: none

Update sources to include notifications and agent fixes
  config.yaml
Due: none

Add required conforma labels on containers
  .tekton/tasks/generate-metadata.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Add required conforma labels on argocd-cli
  clis/argocd/Dockerfile
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push

Add required conforma labels on clis
  clis/argocd-agentctl/Dockerfile
  clis/argocd/Dockerfile
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push

chore(build): bump to v1.19.0-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

add helm scirpt for stage testing and publish
  helm-chart/README.md
  helm-chart/publish-stage.sh
  helm-chart/publish.sh
Due: none

udpate config file
  config.yaml
Due: none

udpate chart version to same as app verison from argocd-agent ref
  helm-chart/README.md
  helm-chart/publish-stage.sh
  helm-chart/publish.sh
Due: none

chore(bundle): latest bundle updates for v1.19.0-3
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Added dast-scan in integration test.
  .tekton/integration-tests/integration-test-scenarios/gitops-bundle-dast-pipeline.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-dast-pipeline.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
  .tekton/steps/run-dast.yaml
  containers/gitops-operator-bundle/Dockerfile
Due: none

Restructure cli dockerfile according to release pipeline requirments
  clis/argocd/Dockerfile
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push

Fix cd command in cli dockerfile
  clis/argocd/Dockerfile
Due: argocd-cli-main-on-pull-request, argocd-cli-main-on-push

Update gitops-operator and dex source
  config.yaml
Due: none

Rename workflows
  .github/workflows/monitor-operator-build.yaml
  .github/workflows/trigger-operator-builds.yaml
Due: none

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
