Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, microshift-gitops-rpm-dev-main-on-pull-request

Path conditions:
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-dev-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-bundle-1-16
  containers/gitops-operator-bundle/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for dex-1-16
  containers/dex/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for console-plugin-1-16
  containers/console-plugin/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argo-rollouts-1-16
  containers/argo-rollouts/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argocd-extensions-1-16
  containers/argocd-extensions/Dockerfile
Due: argocd-extensions-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for must-gather-1-15
  containers/must-gather/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-1-15
  containers/gitops/Dockerfile
Due: gitops-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-1-15
  containers/gitops-operator/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-bundle-1-15
  containers/gitops-operator-bundle/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for dex-1-15
  containers/dex/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for console-plugin-1-15
  containers/console-plugin/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argo-rollouts-1-15
  containers/argo-rollouts/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argocd-extensions-1-15
  containers/argocd-extensions/Dockerfile
Due: argocd-extensions-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for argocd-extensions-1-16 (#253)
  containers/argocd-extensions/Dockerfile
Due: argocd-extensions-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for argo-rollouts-1-16 (#252)
  containers/argo-rollouts/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for dex-1-16 (#250)
  containers/dex/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-1-16 (#248)
  containers/gitops-operator/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-1-16 (#247)
  containers/gitops/Dockerfile
Due: gitops-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for must-gather-1-16 (#246)
  containers/must-gather/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argocd-agent-1-17 (#245)
  containers/argocd-agent/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argocd-extensions-1-17 (#244)
  containers/argocd-extensions/Dockerfile
Due: argocd-extensions-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for argo-rollouts-1-17 (#235)
  containers/argo-rollouts/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for dex-1-17 (#233)
  containers/dex/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-1-17 (#231)
  containers/gitops-operator/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-1-17 (#230)
  containers/gitops/Dockerfile
Due: gitops-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for must-gather-1-17 (#229)
  containers/must-gather/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for console-plugin-1-17 (#234)
  containers/console-plugin/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for console-plugin-1-16 (#251)
  containers/console-plugin/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-bundle-1-16 (#249)
  containers/gitops-operator-bundle/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-bundle-1-17 (#232)
  containers/gitops-operator-bundle/Dockerfile
Due: none

Updated Argo CD version to 2.14.18 (#220)
  config.yaml
Due: none

argocd-cli component to build linux binaries
  .tekton/argocd-cli-main-pull-request.yaml
  .tekton/argocd-cli-main-push.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-cli-push.yaml
  containers/argocd-cli/Dockerfile
Due: none

feat: Made argocd-agent FIPS compliant (#236)
  containers/argocd-agent/Dockerfile
Due: none

Donot trigger CI in PRs changing BUILD
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/must-gather-pull-request.yaml
Due: argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

Donot trigger CI in PRs changing BUILD
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/must-gather-pull-request.yaml
Due: argocd-extensions-main-on-pull-request, gitops-main-on-pull-request

chore(operator): bump to v99.99.99-1
  BUILD
Due: gitops-main-on-pull-request

Setup 1.18.1
  BUILD
  config.yaml
Due: gitops-main-on-pull-request

Bump redis
  config.yaml
Due: none
