Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, microshift-gitops-rpm-dev-main-on-pull-request

Path conditions:
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-dev-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)

chore(operator): bump to v1.18.0-4
  BUILD
Due: gitops-main-on-pull-request

Updated Argo CD version to 2.14.18
  config.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.0-4
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Use upstream tasks
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  rpms/microshift-gitops/generate-source-tarball.sh
Due: microshift-gitops-rpm-dev-main-on-pull-request

Use older commit of upstream pipeline
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

Debug pipelinerun failure
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

Older image
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

debug
  .tekton/build-rpm-package.yaml
Due: none

chore(bundle): latest bundle updates for v99.99.99-0
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysisruns.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_clusteranalysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_experiments.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_notificationsconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rollouts.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
Due: none

Basic git ref
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

remove name field
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

Try local pipeline
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

Try local pipeline using git resolver
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

Try konflux task
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
Due: microshift-gitops-rpm-dev-main-on-pull-request

Red Hat Konflux update argocd-cli-main
  .tekton/argocd-cli-main-pull-request.yaml
  .tekton/argocd-cli-main-push.yaml
Due: none

Bump task sha
  .tekton/build-rpm-package.yaml
  rpms/microshift-gitops/generate-source-tarball.sh
Due: microshift-gitops-rpm-dev-main-on-pull-request

Use older task sha
  .tekton/build-rpm-package.yaml
Due: none

Add debug statements
  rpms/microshift-gitops/generate-source-tarball.sh
Due: microshift-gitops-rpm-dev-main-on-pull-request

Fix path in script
  rpms/microshift-gitops/generate-source-tarball.sh
Due: microshift-gitops-rpm-dev-main-on-pull-request

Update script
  rpms/microshift-gitops/generate-source-tarball.sh
Due: microshift-gitops-rpm-dev-main-on-pull-request

add .snyk file
  .snyk
Due: none

dummy change
  .tekton/argocd-pull-request.yaml
Due: none

Release 1.18.0
  releases/v1.18.0/prod-release.yaml
  releases/v1.18.0/stage-release.yaml
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for must-gather-1-17
  containers/must-gather/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-1-17
  containers/gitops/Dockerfile
Due: gitops-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-1-17
  containers/gitops-operator/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-bundle-1-17
  containers/gitops-operator-bundle/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for dex-1-17
  containers/dex/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for console-plugin-1-17
  containers/console-plugin/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argo-rollouts-1-17
  containers/argo-rollouts/Dockerfile
Due: none

fix script
  rpms/microshift-gitops/generate-source-tarball.sh
Due: microshift-gitops-rpm-dev-main-on-pull-request

Revert "fix script"
  rpms/microshift-gitops/generate-source-tarball.sh
Due: microshift-gitops-rpm-dev-main-on-pull-request

Made argocd-agent FIPS compliant
  containers/argocd-agent/Dockerfile
Due: none

Red Hat Konflux update agent-helm-build
  .tekton/agent-helm-build-pull-request.yaml
  .tekton/agent-helm-build-push.yaml
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for argocd-extensions-1-17
  containers/argocd-extensions/Dockerfile
Due: argocd-extensions-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for argocd-agent-1-17
  containers/argocd-agent/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for must-gather-1-16
  containers/must-gather/Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for gitops-1-16
  containers/gitops/Dockerfile
Due: gitops-main-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for gitops-operator-1-16
  containers/gitops-operator/Dockerfile
Due: none
