Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)

chore: Bump Golang to 1.24.11
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: argo-rollouts-main-on-pull-request, gitops-main-on-pull-request

update argocd-agent to v0.5.4
  config.yaml
Due: none

chore: Bump Golang to 1.24.11 (#550)
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: argo-rollouts-main-on-pull-request, gitops-main-on-pull-request

chore: Bump Golang to 1.24.11 (#551)
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: argo-rollouts-main-on-pull-request, gitops-main-on-pull-request

update argocd-agent to v0.5.4 (#552)
  config.yaml
Due: none

chore(build): bump to v1.17.4-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.17.4-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.4-1 (#556)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

update argocd-agent to v0.5.4 (#554)
  config.yaml
Due: none

update argocd-agent to v0.5.4 (#553)
  config.yaml
Due: none

chore(build): bump to v1.18.3-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

release 1.18.3 yamls updated
  releases/v1.18.3/prod-release.yaml
  releases/v1.18.3/stage-release.yaml
Due: none

updated argocd tag to 3.0.22 and set initial 1.17.4 release yamls
  config.yaml
  releases/v1.17.4/prod-release.yaml
  releases/v1.17.4/stage-release.yaml
Due: none

updated argocd tag to 3.0.22 and set initial 1.17.4 release yamls (#561)
  config.yaml
  releases/v1.17.4/prod-release.yaml
  releases/v1.17.4/stage-release.yaml
Due: none

release 1.18.3 yamls updated (#560)
  releases/v1.18.3/prod-release.yaml
  releases/v1.18.3/stage-release.yaml
Due: none

WIP
  .tekton/steps/install-gitops-operator-bundle-emulate-olm.yaml
Due: none

chore(build): bump to v1.18.3-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.18.3-4
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.3-4 (#563)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.17.4-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.17.4-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

wip
  .tekton/steps/install-gitops-operator-bundle-emulate-olm.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.4-3
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.4-3 (#566)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Setup 1.19.1 release
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Setup 1.19.1 release (#569)
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.1-0
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.1-0 (#570)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

updated argo-cd tag for 1.19.1
  config.yaml
Due: none

updated argo-cd tag for 1.19.1 (#571)
  config.yaml
Due: none

chore(build): bump to v1.19.1-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.1-1
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.1-1 (#573)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(must-gather): Update base image version
  containers/must-gather/Dockerfile
Due: none

chore(must-gather): Update base image version (#574)
  containers/must-gather/Dockerfile
Due: none

Add README for Yarn v1 prefetch workaround
  prefetch/yarn/README.md
Due: none

chore(build): bump to v1.17.4-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request
