Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-main-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  - pipelineTaskName: build-source-image
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  params:
  - name: git-url
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

Fix helm version
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

chore(build): bump to v1.21.4-34
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-34
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-34 (#1491)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-44
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Add workflow to publish agent helm chart to GHCR
  .github/workflows/publish-agent-chart-ghcr.yaml
Due: none

chore: bump gitops operator to latest commit
  config.yaml
Due: none

Integrate helm chart generation into make sources
  Makefile
  hack/generate-agent-helm-chart.py
Due: none

Sync helm chart
  helm-charts/redhat-argocd-agent/0.7.0/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/0.7.0/src/values.schema.json
  helm-charts/redhat-argocd-agent/99.99.99/src/.helmignore
  helm-charts/redhat-argocd-agent/99.99.99/src/Chart.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/README.md
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/NOTES.txt
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-healthz-service.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-metrics-service.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-sa.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-servicemonitor.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/tests/test-configMap.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/tests/test-deployment.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/tests/test-labels.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/tests/test-overall.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/tests/test-rbac.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/tests/test-sa.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/tests/test-services.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/values.schema.json
  helm-charts/redhat-argocd-agent/99.99.99/src/values.yaml
Due: none

Clean up helm chart gha
  .github/workflows/build-argocd-agent-chart.yaml
  .github/workflows/publish-agent-chart-ghcr.yaml
  .github/workflows/test-agent-helm-chart-package-pr.yaml
  .github/workflows/trigger-agent-helm-chart-update.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/README.md
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/_helpers.tpl
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrole.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-clusterrolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-deployment.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-params-cm.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-role.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/templates/agent-rolebinding.yaml
  helm-charts/redhat-argocd-agent/99.99.99/src/values.schema.json
  helm-charts/redhat-argocd-agent/99.99.99/src/values.yaml
Due: argocd-main-on-pull-request

chore(build): bump to v1.19.7-31
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-35
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-35
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-35 (#1499)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.21.4-35
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-35
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.4-35 (#1502)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add Slack notification on RC build failure
  .github/workflows/build-release-candidate.yaml
Due: none

chore(build): bump to v99.99.99-45
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v99.99.99-46
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Refine Slack notification title for nightly vs RC builds
  .github/workflows/build-release-candidate.yaml
Due: none

Consolidate nightly catalog PRs into a single PR
  .github/workflows/build-release-candidate.yaml
  Makefile
  hack/generate-nightly-catalog.py
Due: none

chore: bump gitops operator to latest v1.22 commit (#1493)
  config.yaml
Due: none

chore(build): bump to v1.19.7-32
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-36
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.7-36
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.7-36 (#1511)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Add nightly script
  Makefile
  hack/generate-nightly-catalog.py
Due: none

chore(build): bump to v1.21.4-36
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.4-36
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)
