Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

[release-1.19] chore: Bump Golang to 1.25 (#511) (#514)
  clis/argocd-agentctl/Dockerfile
  clis/argocd/Dockerfile
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
  releases/production/1.19.0/release.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, gitops-main-on-pull-request

update gitops-backend (#515)
  config.yaml
Due: none

update gitops-backend (#516)
  config.yaml
Due: none

update gitops-backend (#517)
  config.yaml
Due: none

WIP: use configmap instead of secret
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
Due: none

WIP: get back to using the step
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
Due: none

Setup 1.18.3 and Update gitops-operator and argocd commits
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Setup 1.18.3 and Update gitops-operator and argocd commits (#525)
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.18.3-0
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.3-0 (#526)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-bearer-token_v1_secret.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor-ca-bundle_v1_configmap.yaml
  containers/gitops-operator-bundle/bundle/manifests/openshift-gitops-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

Removed 'latest' from channel
  config.yaml
Due: none

Removed 'latest' from channel (#527)
  config.yaml
Due: none

chore(build): bump to v1.18.3-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.18.3-1
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.3-1 (#529)
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: none

Update argo-cd to commit f9212b096191137227c1c9fcaad4bb6777b39d68
  config.yaml
Due: none

Add release yamls for 1.18.3
  releases/v1.18.3/prod-release.yaml
  releases/v1.18.3/stage-release.yaml
Due: none

Add release yamls for 1.18.3 (#537)
  releases/v1.18.3/prod-release.yaml
  releases/v1.18.3/stage-release.yaml
Due: none

Trying to emulate olm for making more tests to pass
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/steps/install-gitops-operator-bundle-emulate-olm.yaml
Due: none

update gitops-operator and argocd commits
  config.yaml
Due: none

Setup 1.17.4
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

[1.18] Update gitops-console-plugin for GITOPS-8593
  config.yaml
Due: none

[1.19] Update gitops-console-plugin for GITOPS-8592
  config.yaml
Due: none

chore(build): bump to v1.18.3-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

[1.19] Update gitops-console-plugin for GITOPS-8592 (#540)
  config.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.3-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.18.3-2 (#545)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Setup 1.17.4 and update gitops-operator and argocd commits (#538)
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.17.4-0
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.4-0 (#547)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Update snapshots for 1.18.3 release
  releases/v1.18.3/prod-release.yaml
  releases/v1.18.3/stage-release.yaml
Due: none

update argocd to 3.1.11
  config.yaml
Due: none

chore: Bump Golang to 1.24.11
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: argo-rollouts-main-on-pull-request, gitops-main-on-pull-request

update argocd to 3.1.11 (#548)
  config.yaml
Due: none

update argocd-rhel9 base image
  containers/argocd-rhel9/Dockerfile
Due: none

update containers openshift-golang-builder:rhel_8_1.24 base image
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: argo-rollouts-main-on-pull-request, gitops-main-on-pull-request

chore: Bump Golang to 1.24.11 (#549)
  containers/argo-rollouts/Dockerfile
  containers/argocd-agent/Dockerfile
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
  containers/dex/Dockerfile
  containers/gitops-operator/Dockerfile
  containers/gitops/Dockerfile
Due: argo-rollouts-main-on-pull-request, gitops-main-on-pull-request

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
