Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)

chore(containers): Bump console-plugin to use UBI 9 consistently
  containers/console-plugin/Dockerfile
Due: none

chore(containers): Bump console-plugin to use UBI 9 consistently (#660)
  containers/console-plugin/Dockerfile
Due: none

chore(containers): Bump console-plugin to use UBI 9 consistently (#661)
  containers/console-plugin/Dockerfile
Due: none

chore(containers): Bump console-plugin to use UBI 9 consistently (#662)
  containers/console-plugin/Dockerfile
Due: none

Update to use UBI 9 image instead of UBI 10 for console plugin
  config.yaml
Due: none

build microshift-gitops using pre-build-script custom task to create tarball
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
  .tekton/tasks/pre-build-script.yaml
  rpms/microshift-gitops/generate-microshift-gitops-spec.sh
  rpms/microshift-gitops/microshift-gitops.spec
  rpms/microshift-gitops/microshift-gitops.spec.in
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

use pre-script task
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push

Update to use UBI 9 image instead of UBI 10 for console plugin (#672)
  config.yaml
Due: none

chore(containers): Revert label to name what the pipeline expects
  containers/console-plugin/Dockerfile
Due: none

fix conforma required task
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push

fix build on new tasks
  .tekton/build-rpm-package.yaml
  .tekton/rpm-microshift-gitops-pull-request.yaml
  .tekton/rpm-microshift-gitops-push.yaml
Due: rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push

upgrade argocd-image-updater to 1.1.1
  config.yaml
Due: none

upgrade argocd-image-updater to 1.1.1 (#673)
  config.yaml
Due: none

chore(containers): Bump console-plugin to use UBI 9 consistently (main) (#659)
  containers/console-plugin/Dockerfile
Due: none

Updates for argocd to trigger rebuild.
  BUILD
  config.yaml
  containers/argocd/Dockerfile
  containers/gitops-operator-bundle/Dockerfile
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, argocd-main-on-pull-request, gitops-main-on-pull-request

Added minimal integration test for gitops-bundle.
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agentctl-cli-pull-request.yaml
  .tekton/argocd-cli-pull-request.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-image-updater-pull-request.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/dex-pull-request.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/integration-tests/integration-test-scenarios/e2e-tests-lowest-ose.yaml
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/steps/install-gitops-operator-bundle.yaml
  .tekton/steps/prepare-and-push-logs.yaml
  .tekton/steps/prepare-logs.yaml
  .tekton/steps/push-logs.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
  .tekton/steps/run-gitops-operator-e2e.yaml
  .tekton/steps/send-slack-message.yaml
  .tekton/tasks/export-logs-to-quay.yaml
  .tekton/tasks/send-slack-message.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-main-on-pull-request

Bump argocd to 3.1.12
  config.yaml
Due: none

Regenrate rpm lock
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi8/ubi.repo
Due: argo-rollouts-main-on-pull-request

Bump argocd to 3.1.12 (#679)
  config.yaml
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi8/ubi.repo
Due: argo-rollouts-main-on-pull-request

Regenerate rpm lock
  prefetch/rpms/ubi8/rpms.in.yaml
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi8/ubi.repo
Due: argo-rollouts-main-on-pull-request

Set a non-root default user for the gitops-backend component
  containers/gitops/Dockerfile
Due: gitops-main-on-pull-request

Bump Argo CD to 3.0.23
  config.yaml
Due: none

Bump Argo CD to 3.0.23 (#683)
  config.yaml
Due: none

Update metadata/commit-id in config.yaml file for 1.17.5
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Revert "Fix argocd build"
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Fix argocd build
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Update metadata/commit-id in config.yaml file for 1.17.5 (#678)
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.17.5-0
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.17.5-0 (#684)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

WIP
  .tekton/integration-tests/pipelines/gitops-bundle-lowest-integration-test-pipeline.yaml
  .tekton/steps/run-gitops-operator-e2e-minimal.yaml
Due: none

chore(build): bump to v1.17.5-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request
