Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-main-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  - pipelineTaskName: build-source-image
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  params:
  - name: git-url
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

chore(build): bump to v1.19.6-7
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.21.4-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v99.99.99-15
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Setup 1.19.7 release
  BUILD
  config.yaml
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Bump argocd
  .gitmodules
  config.yaml
Due: none

Bump golang to 1.25
  containers/argocd-rhel9/Dockerfile
  containers/argocd/Dockerfile
Due: argocd-main-on-pull-request

Corret rhel9 image
  containers/argocd-rhel9/Dockerfile
Due: none

chore(build): bump to v1.19.7-1
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Add troubleshooting doc for hermeto
  docs/troubleshooting.md
Due: none

Bundle updates for 1.19.7
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(deps): Bump must-gather
  config.yaml
Due: none

Pull in 4.18 change that removes '.' from workspace file
  config.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
Due: none

chore(build): bump to v1.19.7-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-5
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.21.4-5
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v99.99.99-16
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(deps): Bump must-gather (#1169)
  config.yaml
Due: none

Add 4.18 PF5-based Console Plugin Component - Take 2
  .gitmodules
  .tekton/console-plugin-4-18-pull-request.yaml
  .tekton/console-plugin-4-18-push.yaml
  config.yaml
  containers/console-plugin-4-18/Dockerfile
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

Add 4.18 PF5-based Console Plugin Component - Take 2 (#1170)
  .gitmodules
  .tekton/console-plugin-4-18-pull-request.yaml
  .tekton/console-plugin-4-18-push.yaml
  config.yaml
  containers/console-plugin-4-18/Dockerfile
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

renamed submodules to reflect argocd ui related deps
  .gitmodules
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  clis/kubectl-argo-rollouts/ui/pin-argo-ui.js
  clis/kubectl-argo-rollouts/ui/pnpm-lock.yaml
  config.yaml
  containers/argocd/Dockerfile
  containers/argocd/ui/pin-argo-ui.js
  containers/argocd/ui/pnpm-lock.yaml
  docs/sources-guide.md
  hack/pin-pnpm-deps.sh
Due: argocd-main-on-pull-request

updated to last argo-cd commit
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

checkout argo-ui pined commits from sources/argo-cd/ui/package.json and sources/argo-rollouts/ui/package.json
  config.yaml
  docs/sources-guide.md
  hack/sync-sources.sh
  hack/ui-refs.sh
  hack/update-sources.sh
  hack/verify-sources.sh
Due: none

make sources updates the pnpm-lockfile + reference to local file for argo-ui
  .gitmodules
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  Makefile
  clis/kubectl-argo-rollouts/Dockerfile
  clis/kubectl-argo-rollouts/ui/.gitignore
  clis/kubectl-argo-rollouts/ui/.npmrc
  clis/kubectl-argo-rollouts/ui/package.json
  clis/kubectl-argo-rollouts/ui/pin-argo-ui.js
  clis/kubectl-argo-rollouts/ui/pnpm-lock.yaml
  config.yaml
  containers/argocd/Dockerfile
  containers/argocd/ui/.gitignore
  containers/argocd/ui/.npmrc
  containers/argocd/ui/package.json
  containers/argocd/ui/pin-argo-ui.js
  containers/argocd/ui/pnpm-lock.yaml
  docs/sources-guide.md
  hack/pin-pnpm-deps.sh
Due: argocd-main-on-pull-request

Revert argocd upgrade
  .gitmodules
  config.yaml
Due: none

Revert argocd upgrade
  .gitmodules
  .tekton/build-multi-platform-image.yaml
  config.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

argo-rollouts and argo-cd using local file reference as argo-ui dep (#1115)
  .gitmodules
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  Makefile
  clis/kubectl-argo-rollouts/Dockerfile
  clis/kubectl-argo-rollouts/ui/.gitignore
  clis/kubectl-argo-rollouts/ui/.npmrc
  clis/kubectl-argo-rollouts/ui/package.json
  clis/kubectl-argo-rollouts/ui/pin-argo-ui.js
  clis/kubectl-argo-rollouts/ui/pnpm-lock.yaml
  config.yaml
  containers/argocd/Dockerfile
  containers/argocd/ui/.gitignore
  containers/argocd/ui/.npmrc
  containers/argocd/ui/package.json
  containers/argocd/ui/pin-argo-ui.js
  containers/argocd/ui/pnpm-lock.yaml
  docs/sources-guide.md
  hack/pin-pnpm-deps.sh
  hack/sync-sources.sh
  hack/ui-refs.sh
  hack/update-sources.sh
  hack/verify-sources.sh
Due: argocd-main-on-pull-request

chore(update-sources): refresh source commits
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Update GitOps Console Plugin for 1.22 (#9408)
  config.yaml
Due: none

chore(build): bump to v1.19.7-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.20.7-6
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(build): bump to v1.21.4-6
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Update GitOps Console Plugin for 1.22 (#9408) (#1180)
  config.yaml
Due: none

chore(build): bump to v99.99.99-17
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

Update dependency add to v2.0.9
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)
