Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push, console-plugin-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-extensions-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:{{revision}}
  - name: additional-tags
    value:
    - '{{target_branch}}'
  - name: dockerfile
  ...

console-plugin-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/console-plugin-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

gitops-operator-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-operator-bundle-main:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  - name: path-context
  ...

Use redhat registry golang image
  containers/argocd/Dockerfile
  containers/gitops-operator/Dockerfile
Due: none

Update gitops and use root user for 1.24 golang image
  config.yaml
  containers/argocd/Dockerfile
  containers/gitops-operator/Dockerfile
Due: none

Update argocd-agent commit
  config.yaml
  containers/argocd-agent/Dockerfile
Due: none

chore: Update argocd-agent commit (#104)
  config.yaml
  containers/argocd-agent/Dockerfile
Due: none

Use BUILD file to track RC versions
  .github/workflows/trigger-rc-build.yaml
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  Makefile
  TAG
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push, console-plugin-main-on-pull-request, gitops-operator-bundle-main-on-push

Fix file ref
  .tekton/tasks/generate-metadata.yaml
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push, console-plugin-main-on-pull-request

Update workflow
  .github/workflows/trigger-rc-build.yaml
Due: none

feat: Use BUILD file to track RC versions (#105)
  .github/workflows/trigger-rc-build.yaml
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  .tekton/tasks/generate-metadata.yaml
  BUILD
  Makefile
  TAG
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push, console-plugin-main-on-pull-request, gitops-operator-bundle-main-on-push

Fix PR flow in GHA
  .github/workflows/trigger-rc-build.yaml
Due: none

chore(build): bump to 99.99.99-1
  BUILD
Due: none

Fix label in GHA
  .github/workflows/trigger-rc-build.yaml
Due: none

Setup branch for 1.17.0 release
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push, console-plugin-main-on-pull-request, gitops-operator-bundle-main-on-push

Setup branch for 1.17.0 release (#113)
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-agent-pull-request.yaml
  .tekton/argocd-agent-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  .tekton/gitops-operator-bundle-pull-request.yaml
  .tekton/gitops-operator-bundle-push.yaml
  .tekton/gitops-operator-pull-request.yaml
  .tekton/gitops-operator-push.yaml
  .tekton/gitops-pull-request.yaml
  .tekton/gitops-push.yaml
  .tekton/must-gather-pull-request.yaml
  .tekton/must-gather-push.yaml
  BUILD
  config.yaml
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push, console-plugin-main-on-pull-request, gitops-operator-bundle-main-on-push

Update node image to 20 to fix deprecation conforma failure
  containers/argocd/Dockerfile
Due: none

Update rpms
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  prefetch/rpms/ubi8/rpms.in.yaml
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi8/ubi.repo
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push

Fix source rpm volitaions
  prefetch/rpms/ubi8/rpms.in.yaml
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi8/ubi.repo
Due: none

Remove old ubi8.repo file
  prefetch/rpms/ubi8/ubi8.repo
Due: none

chore: Update rpm lock (#114)
  .tekton/argo-rollouts-pull-request.yaml
  .tekton/argo-rollouts-push.yaml
  .tekton/argocd-extensions-pull-request.yaml
  .tekton/argocd-extensions-push.yaml
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/dex-pull-request.yaml
  .tekton/dex-push.yaml
  prefetch/rpms/ubi8/rpms.in.yaml
  prefetch/rpms/ubi8/rpms.lock.yaml
  prefetch/rpms/ubi8/ubi.repo
  prefetch/rpms/ubi8/ubi8.repo
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push

Add Argo CD RHEL9 Build
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  config.yaml
  containers/argocd-rhel9/Dockerfile
  prefetch/rpms/ubi9/.gitignore
  prefetch/rpms/ubi9/Dockerfile
  prefetch/rpms/ubi9/rpms.in.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
  prefetch/rpms/ubi9/ubi.repo
Due: none

Update ubi9 rpms
  prefetch/rpms/ubi9/rpms.in.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
  prefetch/rpms/ubi9/ubi.repo
Due: none

Fix tekton file
  .tekton/argocd-rhel9-pull-request.yaml
Due: none

feat: Argo CD rhel9 build (#115)
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
  config.yaml
  containers/argocd-rhel9/Dockerfile
  prefetch/rpms/ubi9/.gitignore
  prefetch/rpms/ubi9/Dockerfile
  prefetch/rpms/ubi9/rpms.in.yaml
  prefetch/rpms/ubi9/rpms.lock.yaml
  prefetch/rpms/ubi9/ubi.repo
Due: none

Update argocd-rhel9 configs for 1.17
  .tekton/argocd-rhel9-pull-request.yaml
  .tekton/argocd-rhel9-push.yaml
Due: none

chore(build): bump to 1.17.0-1
  BUILD
Due: none

Update bundle with latest images of 1.17.0
  containers/gitops-operator-bundle/Dockerfile
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysisruns.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_analysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applications.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_applicationsets.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_appprojects.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_argocds.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_clusteranalysistemplates.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_experiments.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_notificationsconfigurations.yaml
  containers/gitops-operator-bundle/bundle/manifests/argoproj.io_rollouts.yaml
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
  containers/gitops-operator-bundle/bundle/manifests/pipelines.openshift.io_gitopsservices.yaml
  containers/gitops-operator-bundle/bundle/metadata/annotations.yaml
Due: gitops-operator-bundle-main-on-push

Add arg for uploading sast results
  .tekton/build-multi-platform-image.yaml
Due: argocd-extensions-main-on-pull-request, argocd-extensions-main-on-push, console-plugin-main-on-pull-request

Update gitops-operator commit
  config.yaml
Due: none

fix: Update gitops-operator commit (#124)
  config.yaml
Due: none

Update bundle with latest version
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: gitops-operator-bundle-main-on-push

Add doc to use dev catalog
  README.md
  docs/assets/catalog-pod.png
  docs/assets/operator-install.png
  docs/catalog-installation.md
Due: none

Path conditions:
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-push: (((((any of: sources/argocd-extension-installer) or (any of: sources/rollout-extension)) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-push.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  console-plugin-main-on-pull-request: ((((any of: sources/gitops-console-plugin/***) or (any of: containers/console-plugin/***)) or (any of: .tekton/console-plugin-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: ((any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)) or ((any of: containers/gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-push.yaml))
