Repository rh-gitops-midstream/release: changes, and which Tekton pipelines are due for each by the changed paths.
All: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-backend-main-on-push, gitops-console-plugin-1-17-on-push, gitops-operator-bundle-main-on-push, gitops-operator-main-on-pull-request, gitops-main-on-pull-request, microshift-gitops-rpm-main-on-pull-request, rpm-microshift-gitops-main-on-pull-request, rpm-microshift-gitops-main-on-push, test-microshift-rpm-build-on-push

argo-rollouts-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argo-rollouts-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-agentctl-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-agentctl-{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-cli-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli-main:{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

argocd-cli-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-cli:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: additional-tags
    value:
  ...

argocd-extensions-main-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/argocd-extensions-rhel8:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

argocd-main-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  - pipelineTaskName: build-source-image
    computeResources:
      requests:
        memory: 4Gi
      limits:
        memory: 8Gi
  params:
  - name: git-url
  ...

gitops-backend-main-on-push:
  spec: null
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-backend-main:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

gitops-console-plugin-1-17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/gitops-console-plugin:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

Bump buildah to resolve prefetch task update issue
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Bump buildah to resolve prefetch task update issue (#1104)
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Bump buildah to resolve prefetch task update issue (#1105)
  .tekton/build-multi-platform-image.yaml
Due: argo-rollouts-main-on-pull-request, argocd-agentctl-main-on-push, argocd-cli-main-on-pull-request, argocd-cli-main-on-push, argocd-extensions-main-on-pull-request, argocd-main-on-pull-request, gitops-operator-main-on-pull-request, gitops-main-on-pull-request

Release 1.21.3
  releases/1.21.3/production/release.yaml
Due: none

chore(update-sources): refresh source commits
  config.yaml
Due: none

chore(deps): bump image-updater from 1.2.2 to 1.3.0 for GitOps 1.22 (#1096)
  config.yaml
Due: none

migrated console-plugin and kubectl-argo-rollouts build to pnpm
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  config.yaml
  containers/console-plugin/Dockerfile
  prefetch/pnpm/README.md
Due: none

migrated argocd build to pnpm
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  config.yaml
  containers/argocd/Dockerfile
  prefetch/pnpm/README.md
  prefetch/pnpm/package-lock.json
  prefetch/pnpm/package.json
  prefetch/rpms/ubi9/rpms.in.yaml
Due: argocd-main-on-pull-request

use bootstrapped pnpm offline in console-plugin Dockerfile and removed taskRunSpecs
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  containers/console-plugin/Dockerfile
Due: argocd-main-on-pull-request

Migrate gitops build to pnpm (#1095)
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/console-plugin-pull-request.yaml
  .tekton/console-plugin-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  config.yaml
  containers/argocd/Dockerfile
  containers/console-plugin/Dockerfile
  prefetch/pnpm/package-lock.json
  prefetch/pnpm/package.json
  prefetch/rpms/ubi9/rpms.in.yaml
Due: argocd-main-on-pull-request

Rename nightly source update workflow
  .github/workflows/nightly-update-sources.yaml
Due: none

Setup nightly builds
  .github/workflows/nightly-update-sources.yaml
  .github/workflows/trigger-operator-builds.yaml
Due: none

make sources updates the pnpm-lockfile + reference to local file for argo-ui
  .gitmodules
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  Makefile
  clis/kubectl-argo-rollouts/Dockerfile
  clis/kubectl-argo-rollouts/ui/.gitignore
  clis/kubectl-argo-rollouts/ui/.npmrc
  clis/kubectl-argo-rollouts/ui/package.json
  clis/kubectl-argo-rollouts/ui/pin-argo-ui.js
  clis/kubectl-argo-rollouts/ui/pnpm-lock.yaml
  config.yaml
  containers/argocd/Dockerfile
  containers/argocd/ui/.gitignore
  containers/argocd/ui/.npmrc
  containers/argocd/ui/package.json
  containers/argocd/ui/pin-argo-ui.js
  containers/argocd/ui/pnpm-lock.yaml
  docs/sources-guide.md
  hack/pin-pnpm-deps.sh
Due: argocd-main-on-pull-request

updated to last argo-cd commit
  config.yaml
  containers/argocd/ui/pnpm-lock.yaml
Due: argocd-main-on-pull-request

Create another plugin to support 4.18 and PatternFly 5 (#10431)
  .gitmodules
  .tekton/console-plugin-4.18-pull-request.yaml
  .tekton/console-plugin-4.18-push.yaml
  config.yaml
  containers/console-plugin-4.18/Dockerfile
  containers/gitops-operator-bundle/patch-bundle.py
Due: none

chore(build): bump to v1.20.6-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.6-3
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.6-3 (#1119)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.21.3-2
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.3-2
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.3-2 (#1121)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v99.99.99-10
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

renamed submodules to reflect argocd ui related deps
  .gitmodules
  .tekton/argocd-pull-request.yaml
  .tekton/argocd-push.yaml
  .tekton/kubectl-argo-rollouts-cli-pull.yaml
  .tekton/kubectl-argo-rollouts-cli-push.yaml
  clis/kubectl-argo-rollouts/Dockerfile
  clis/kubectl-argo-rollouts/ui/pin-argo-ui.js
  clis/kubectl-argo-rollouts/ui/pnpm-lock.yaml
  config.yaml
  containers/argocd/Dockerfile
  containers/argocd/ui/pin-argo-ui.js
  containers/argocd/ui/pnpm-lock.yaml
  docs/sources-guide.md
  hack/pin-pnpm-deps.sh
Due: argocd-main-on-pull-request

chore(build): bump to v1.19.6-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.19.6-3
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.19.6-3 (#1130)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.20.6-4
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.20.6-4
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.20.6-4 (#1132)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(build): bump to v1.21.3-3
  BUILD
Due: argocd-agentctl-main-on-push, argocd-cli-main-on-push, gitops-main-on-pull-request

chore(bundle): latest bundle updates for v1.21.3-3
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

chore(bundle): latest bundle updates for v1.21.3-3 (#1135)
  containers/gitops-operator-bundle/bundle/manifests/gitops-operator.clusterserviceversion.yaml
Due: none

Path conditions:
  argo-rollouts-main-on-pull-request: (((((((any of: sources/argo-rollouts) or (any of: sources/rollouts-plugin-trafficrouter-openshift)) or (any of: sources/git-lfs)) or (any of: containers/argo-rollouts/***)) or (any of: .tekton/argo-rollouts-pull-request.yaml)) or (any of: prefetch/rpms/ubi8/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-agentctl-main-on-push: (((((any of: sources/argocd-agent) or (any of: clis/argocd-agentctl/***)) or (any of: .tekton/argocd-agentctl-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-pull-request: ((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-cli-main-on-push: (((((any of: sources/argo-cd) or (any of: clis/argocd/***)) or (any of: .tekton/argocd-cli-push.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-extensions-main-on-pull-request: ((((any of: sources/argocd-extension-installer/***) or (any of: containers/argocd-extensions/***)) or (any of: .tekton/argocd-extensions-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  argocd-main-on-pull-request: ((((((((((any of: sources/argo-cd) or (any of: sources/git-lfs)) or (any of: sources/helm)) or (any of: sources/kustomize)) or (any of: sources/ssh-connect)) or (any of: sources/tini)) or (any of: containers/argocd/***)) or (any of: .tekton/argocd-pull-request.yaml)) or (any of: prefetch/rpms/ubi9/***)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-backend-main-on-push: (any of: gitops-backend/***) or (any of: .tekton/gitops-backend-main-*.yaml)
  gitops-console-plugin-1-17-on-push: (any of: gitops-console-plugin/***) or (any of: .tekton/gitops-console-plugin-*.yaml)
  gitops-operator-bundle-main-on-push: (any of: gitops-operator-bundle/***) or (any of: .tekton/gitops-operator-bundle-main-*.yaml)
  gitops-operator-main-on-pull-request: ((((any of: sources/gitops-operator) or (any of: containers/gitops-operator/***)) or (any of: .tekton/gitops-operator-pull-request.yaml)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  gitops-main-on-pull-request: (((((any of: sources/gitops-backend) or (any of: containers/gitops/***)) or (any of: .tekton/gitops-pull-request.yaml)) or (any of: BUILD)) or (any of: .tekton/build-multi-platform-image.yaml)) or (any of: .tekton/tasks/***)
  microshift-gitops-rpm-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/microshift-gitops-rpm-pull-request.yaml)
  rpm-microshift-gitops-main-on-pull-request: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-pull-request.yaml)
  rpm-microshift-gitops-main-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/rpm-microshift-gitops-push.yaml)
  test-microshift-rpm-build-on-push: (any of: rpms/microshift-gitops/***) or (any of: .tekton/test-microshift-rpm-build-push.yaml)
